.form {
  background-color: beige;
}

.list {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  list-style: none;
  /* width: 100%; */
}

.list_item {
  width: 320px;
  max-height: 180px;
  box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.428),
    1px 6px 20px 1px rgba(0, 0, 0, 0.19);
}


